<div class="text-center m-b">
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-sm rounded white">
                                            <input type="radio" name="options" autocomplete="off" class="has-value"> Tablespaces
                                        </label>
        <label class="btn btn-sm white">
                                            <input type="radio" name="options" autocomplete="off" class="has-value"> Disques
                                        </label>
        <label class="btn btn-sm white">
                                            <input type="radio" name="options" autocomplete="off" class="has-value"> Tables
                                        </label>
        <label class="btn btn-sm rounded white">
                                            <input type="radio" name="options" autocomplete="off" class="has-value"> Index
                                        </label>
    </div>
</div>